h1{
    color: pink;
}

span{
    color: salmon;
    font-weight: 500;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: red ;
}

.swiper-pagination-bullet-active {
    background-color: pink ;
}

.swiper-cube .swiper-cube-shadow:before {
    background: pink;
}

::-webkit-scrollbar {
    display: none;
  }

